{
  "parser": "babel-eslint",
  "extends": "airbnb/base",
  "rules": {
    "no-console": 0,
    "no-underscore-dangle": 0,
    "arrow-body-style": 0,
    "no-param-reassign": 0
  },
  "globals": {
    "System": true,
    "SystemJS": true
  },
  "env": {
    "browser": true
  }
}
